* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(100deg, #5a5694, #6eda6b);
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  min-height: 100vh;
}
header {
  font-size: 1.5rem;
}
header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
form input,
form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  box-shadow: -3px -4px 6px rgb(95, 86, 74), 3px 4px 6px rgb(95, 86, 74);
  background: white;
}

form button {
  color: teal;
  background: white;
  cursor: pointer;
  transition: all 0.3s ease-in;
}
form button:hover {
  background: #6eda6b;
  color: white;
}
.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo-list {
  min-width: 30%;
  list-style: none;
}
.todo {
  margin: 0.5rem;
  background: white;
  color: black;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease-in;
}
.todo li {
  flex: 1;
}
.trash-btn,
.complete-btn {
  background: #6eda6b;
  color: beige;
  border: none;
  padding: 0.8rem;
  cursor: pointer;
  font-size: 1rem;
}
.complete-btn {
  background: #433d9b;
}
.todo-item {
  padding: 0rem 0.5rem;
}
.fa-trash,
.fa-check {
  pointer-events: none;
}
.completed {
  text-decoration: line-through;
  opacity: 0.4;
}
